*{
    margin: 0;
    padding: 0;
    background-color: black;
}

form{
    padding-top: 100px;
    margin-left: 200px;
}

#place{
    margin-top: 30px;
    background-color: gray;
    }
    ::placeholder{
        color: white;
    }

button{
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
    border-style: none;
}

h1{
    padding-top: 20px;
    margin-left: 200px;
    font-weight: bolder;
    font-size: 42px;
    color: red;
}